@model IEnumerable<Discografia.Models.Artist>

@{
    ViewData["Title"] = "Lista de artistas";
}

<h1>Lista de artistas</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtistId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ArtistId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ArtistId">Eliminar</a> |
                <a asp-action="AlbumsArtista" asp-route-id="@item.ArtistId">Discos del artista</a>
            </td>
        </tr>
}
    </tbody>
</table>
