@model AUT02_05.Models.Frase

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Estas seguro de eliminarlo?</h3>
<div>
    <h4>Frase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fraesp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fraesp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fraing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fraing)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Details" asp-controller="Espengs" asp-route-id="@ViewBag.EspengID" class="btn btn-primary">Volver</a>
    </form>
</div>
