@model TheSimpsonsMVC.Models.Character;
@{
	ViewData["title"] = "Detalles";
}
<h3> Personaje : @Html.DisplayFor(model => model.Id)</h3>
 <ul>
     <li>@Html.DisplayNameFor(model => model.name) : @Html.DisplayFor(model => model.name)</li>
     <li>@Html.DisplayNameFor(model => model.age) : @Html.DisplayFor(model => model.age)</li>
     <li>@Html.DisplayNameFor(model => model.job) : @Html.DisplayFor(model => model.job)</li>
 </ul> 
 <br />
 <br />
<form asp-controller="Personaje" >
    <button type="submit" class="btn btn-primary" asp-controller="Personaje" asp-action="Index">Volver</button>
    <button class="btn btn-warning" asp-controller="Personaje" asp-action="Update" formmethod="get" name="num" value="@Model.Id" role="button"><img class="logo" src="~/imgs/create_16dp_E8EAED.png" /></button>
</form>


